RAG workflow (upload Drive to Supabase).json
{
  "name": "RAG workflow (upload Drive to Supabase)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WtYkm06vILiXOeGFJW3AH6XhipmCZvyA",
          "mode": "list",
          "cachedResultName": "TFC (Fase 2) Política midtech e ISO 27001 Y ENS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WtYkm06vILiXOeGFJW3AH6XhipmCZvyA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -16
      ],
      "id": "9e0c041f-3853-4537-8a8e-fd3d75311a74",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FggVNcddlZ4ywQR5",
          "name": "impactinclude tfc"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        -16
      ],
      "id": "b26af7c1-4744-4ad9-9536-7ede9ad05d3b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FggVNcddlZ4ywQR5",
          "name": "impactinclude tfc"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        -96
      ],
      "id": "8cdb24a7-70b6-496e-b51e-defc41397505",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "0vQGkLRXJbjlwHjd",
          "name": "n8n impact include"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        208
      ],
      "id": "bcdddfad-30a7-4b1f-8289-8b272e984667",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LCpN628DXdAgq5MM",
          "name": "n8n asistente TFC Include"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        112
      ],
      "id": "24626b8f-d562-47bc-b033-9ac344c518c1",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f78845ca-2f04-4e57-b4bb-cd5a3e611d2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f6ef6d6e9de13cb36d77e68edd6613d35d94c573bf5ad7cc4ab3e625d55f42f"
  },
  "id": "JzLFVvRGYaRKvWqM",
  "tags": []
}